.StyleSheet {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

.tittle {
    display: flow-root;
    top: 0;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8;
    display: inside;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
    display: inside;
    align-items: center-width;
}

.content ul li {
    list-style: square;
    display: inline-block;
    margin-left: 40px;
    align-items: top;
}

.content ul li a {
    text-decoration: skyblue;
    color: rgba(255, 255, 255, 0.032);
    font-size: 17px;
    align-items: center;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content {
    text-align: center;
}

.content h2 {
    font-size: 160px;
    color: rgba(63, 7, 59, 0.781);
    font-weight: 600;
    transition: 0.5s;
}

.content h2:hover {
    -webkit-text-stroke: 2px rgba(46, 20, 239, 0.422);
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: rgba(248, 237, 248, 0.493);
    font-size: 24px;
    border: 2px solid rgba(5, 17, 250, 0.463);
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.content a:hover {
    -webkit-text-stroke: 2px rgba(111, 11, 83, 0.758);
    color: transparent;
}

.Box {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0, 3), rgba(12, 3, 51, 0, 3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}